.c {
  height: 100% !important;
  position: relative;
  display: flex;
  margin-top: 20px;
  width:100%;
  
}

.c-bg {
  width: 20px;
  height: 100%;
  background-color: rgb(201, 199, 199);
  position: absolute;
}

.c-wrapper {
  padding:50px;
  display: flex;
}
.feedback{
  height: 40px;
}
.c-left {
  flex: 1;
  margin-top: 0px;
}

.c-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.c-title {
  font-size: 40px;
  width: 90%;
  font-family: cursive;
}
.c-title1 {
  font-size: 40px;
  width: 90%;
  font-family: cursive;
}

.c-info-item {
  display: flex;
  align-items: center;
  margin: 70px 0px;
  font-weight: 300;
  width: 70%;
}

.c-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.c-desc {
  font-weight: 200;
}

form {
  margin-top: 20px;
}

input {
  width: 45%;
  height: 50px;
  border: none;
  border-bottom: 1px solid black;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}

textarea {
  width: 91%;
  margin: 10px 0px;
  font-size: 15px;
  padding-left: 10px;
  height: 150px;
  margin-top: 10px;
  padding-top: 10px;
}

button {
  border: none;
  padding: 15px;
  background-color: rgb(201, 199, 199);
  color:black;
  font-weight: 500;
  cursor: pointer;
}

.feedback{
  height: 40px !important;
}
@media screen and (max-width: 480px) {
  .c-wrapper {
    flex-direction: column;
    padding: 0px 50px;
  }

  .c-title,.c-title1 {
    font-size: 30px;
  }

  .c-info-item {
    margin: 20px 0px;
    width: 100%;
  }
textarea{
  width: 100% !important;
}
  .c-desc {
    display: none;
  }

  form {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
  }

  input {
    font-size: 10px;
    width: 35%;
    height: 40px;
    margin: 10px;
    margin-left: 0;
  }

  button {
    margin-top: 10px;
  }
}
