.pl {
  display: flex;
  flex-direction: column;
  width:100%;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}

.pl-texts {
  width: 100%;
}

.pl-title {
  font-size: 40px;
  font-weight: 600;
  font-family:cursive;
}

.pl-desc {
  margin: 20px 0px;
}

.pl-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
  justify-content: space-between;
  
}

@media screen and (max-width: 480px) {
  .pl {
    padding: 10px;
  }

  .pl-texts {
    width: 100%;
  }
}
